* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.sidebar {
    width: 25%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar p {
    font-size: 14px;
    line-height: 1.6;
}

.main-content {
    width: 75%;
    margin-left: 20px;
}

.filter {
    background-color: #e0e7ef;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.filter span {
    font-size: 14px;
    font-weight: bold;
}

.filter button {
    background-color: #2c2d2e;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.product h4 {
    font-size: 16px;
    margin: 10px 0;
}

.rating {
    font-size: 16px;
    color: #f4b400;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

button {
    background-color: #006699;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.button-red{
    background-color: darkred;
}
.right{
    float:right;
}

.mt-10{
    margin-top: 10px;
}